@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
*{
    margin: 0;
    padding: 0;
}
/* General body*/
html,
body {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
/* General h styles*/
h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto Condensed";
}
h1{
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 200px;
}
h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}
h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}
h5{
    font-size: 1.2em;
    line-height: 1em;
}
/* Navigation Bar*/
.nav-bar{
    background: rgb(25, 33, 41);
}
.nav-bar ul{
    display: flex;
    justify-content: center;
}
.nav-bar li{
    flex: 1;
    text-align: center;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}
/* Header*/
.header{
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.header h2{
    color: white ;
    text-shadow: #020819 8px -20px 9px;
 
}
.quote{
    font-size: 1.9em;
    margin: 0 100px;
    
}
/* Recurrent Class*/
.dark-background{
    background-color: rgb(25, 33, 41);
    color: white;
}
/* General Information Section*/
#general-information{
    height:300px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0;
}
#general-information article{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#general-information p{
    font-size: 2em;
    font-weight: 100;
    
}
.link-btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: rgb(67, 163, 230	);
    color: white;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}
#general-information a:hover{
    background-color: rgb(3, 13, 148);
}
/* Structure Section*/
#structure div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin:0 auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 900px;
    max-height: 900px;
    margin-bottom: 50px;
}
#structure article{
    font-size: 1.7em;
    text-align: center;
    flex: 1 calc(50% - 20px);
    margin-top: 10px;
    margin-bottom:10px;
    box-sizing: border-box;
    max-width: 380px;
    max-height: 350px;
    border: 1px solid black;
    padding: 20px;
}
#structure img{
    width: 125px;
}
/* Team Section*/
#team{
    text-align: center;
}
#team header{
    display:inline-block;
    max-width: 650px;
    margin-top: 30px;
    padding: 10px;
}
#team p{
    font-size: 1.9em;
}
hr{
    margin-left: 30%;
    margin-right: 30%;
}
#team div{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
#team h4{
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
}
#team article{
        padding: 20px;
}
#team img{
    width: 250px;
    height: 180px;
}
/* Schedule Section*/
#schedule h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
#schedule table{
    display:table;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5px;
}
#schedule th{
    border-bottom-style:dashed;
    border-collapse: collapse;
}
#schedule form{
    text-align: center;
    margin-bottom: 20px;
}
#schedule form label{
    font-size: 1.5em;
}
#schedule form input{
    width: 30%;
}
#schedule form select{
    width: 30%;
}
#schedule form button{
    display: inline-block;
    padding: 10px 20px;
}
/* Footer Section*/
footer{
    font-size: 1.9em;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin:0 auto;
}
.footer address{
    font-style: normal;
    font-size: 0.8em;
}
.footer a{
    color: rgb(67, 163, 230);
    text-decoration: none;
}
.footer ul{
    list-style: none;
}