@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}



h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: Roboto Condensed;
    text-align: center;
}

.nav-bar {
    background-color: #1A252E;
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

header {
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

header h1 {
    font-size: 5.5em;
}

header h2 {
    color: white;
    text-shadow: #020819 8px -20px 9px;
    font-size: 2.5em;

}

.quote {
    font-size: 1.5em;
    margin-top: 200px;
    padding: 50px;
}

.dark-background {
    background-color: #1A252E;
    color: white;
}

.text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.text p {
    font-size: 0.8em;
    padding: 10px 60px;
}

#general-information {
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding: 0 200px;
}

#general-information button {
    color: white;
    padding: 10px;
    background-color: #4DACE9;
    font-family: roboto condensed;
    font-size: 0.7em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

#structure h3 {
    font-size: 2em;
}

.service-box {
    width: 250px;
    height: 180px;
}

.service-box img {
    width: 125px;
}


#team img {
    width: 250px;
    height: 180px;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}